.footer-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f3f3f3;
    box-shadow: 16px 0px 0px 0px rgba(0,0,0,0.2);
    position: fixed;
    bottom: 0;
    width: 100%;

    display: flex;
}

.footer-nav li {
    float: left;
    flex-grow: 1;
}

.footer-nav li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-bottom: 3px solid #8e8e8e;
}

.footer-nav li a:hover:not(.active) {
    background-color: #ddd;
}

.footer-nav li a.active {
    color: white;
    background-color: #707070;
    border-bottom: 3px solid #039be5;
}
